<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <%- include('links'); -%>
    <link rel="stylesheet" href="/css/moderator/index.css">
</head>
<body>
    
    <%- include('header'); -%>
    
    <div class="fullContainer">
        
        <%- include('sidebar'); -%>
            <div class="mainContainer">

                <div class="mainContainerDiv">
                </div>

            </div>
    </div>


    <script>
        document.getElementById('1').classList.add('currentPage');

        showSettings = () =>{
            if(document.getElementById('settings').classList == 'hidden'){
                document.getElementById('settings').classList.remove('hidden');

                document.getElementById('settings').classList.add('settings');

            }
            else{
                document.getElementById('settings').classList.remove('settings');
                document.getElementById('settings').classList.add('hidden');

            }
            
        }
    </script>




</body>
</html> -->