<div class="header">

    <div class="headerLeft">
        <h5 class="headerLeftText">Affiliate backoffice</h5>
    </div>

    <div class="headerRight" onclick="showSettings()">
        <i class="fa fa-user icon2"></i>
        <h5><%= username %></h5>
    </div>

</div>
<div class="hidden" id="settings">
    <button>view profile</button>
    <button class="signout">Sign out</button>
</div>
