<div class="mainSideBar">
    <div class="mainSideBarTitle">
        <h6>Menu</h6>
    </div>
    <div class="mainSideBarElements">
        <ul>
            <li id="1"  onclick="window.location.href = './index' ">
                <i  class="fa icon fa-balance-scale"></i>
                <p>

                    Dashboard
                </p>
            </li>

            <li id="2" onclick="window.location.href = './transfer' ">
                <i class="fa icon fa-exchange"></i>
                <p>
                    Transfer
                </p>
            </li>

            <li id="3" onclick="window.location.href = './transactions' ">
                <i class="fa icon fa-money"></i>
                <p>
                    Transactions
                </p>
            </li>


            <li id="4" onclick="window.location.href = './viewAllUsers' ">
                <i class="fa icon fa-users"></i>
                <p>
                    All users list
                </p>
            </li>




            <li id="5" onclick="window.location.href = './viewAllBalances' ">
                <i class="fa icon fa-users"></i>
                <p>
                    All users balance
                </p>
            </li>
            
            <li id="9" onclick="window.location.href = './addSuperAgent' ">
                <i class="fa icon fa-user-plus"></i>
                <p>
                    Create superagent
                </p>
            </li>
            

            <li id="10" onclick="window.location.href = './profile' ">
                <i class="fa icon fa-user-secret"></i>
                <p>
                    My profile
                </p>
            </li>


        </ul>
    </div>
</div>