<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/superagent/viewAgents.css">
        <%- include('links'); -%>
    </head>
<body>
    
    <%- include('header'); -%>
    <div class="fullContainer">
        
        <%- include('sidebar'); -%>
            <div class="mainContainer">

                <div class="mainContainerDiv">

                </div>

            </div>
    </div>


    <script>
        document.getElementById('4').classList.add('currentPage');
        showSettings = () =>{
            if(document.getElementById('settings').classList == 'hidden'){
                document.getElementById('settings').classList.remove('hidden');

                document.getElementById('settings').classList.add('settings');

            }
            else{
                document.getElementById('settings').classList.remove('settings');
                document.getElementById('settings').classList.add('hidden');
                
            }
            
        }
        </script>




</body>
</html> 
 -->
