<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/superagent/index.css">
    <%- include('links'); -%>
</head>
<body>
    

    <%- include('header'); -%>

    <div class="fullContainer">
        <%- include('sidebar'); -%>
            <div class="mainContainer">

                <div class="mainContainerFirstRow">
                    <div class="cards">
                        <div class="cardLeftElement" style="background-color: blanchedalmond;">
                            <img class="logo" src="/images/money-icon.png" alt="My_Logo" id='money-icon' >
                        </div>
                        <div class="cardRightElement">

                            <p class="firstp">
                                Balance
                            </p>
                            <p class="secondp">
                                420$
                            </p>

                        </div>
                    </div>
                    <div class="cards">
                        <div class="cardLeftElement">
                            <img class="logo" src="/images/profile-icon.png" alt="My_Logo" >
                        </div>
                        <div class="cardRightElement">

                            <p class="firstp">
                                Players
                            </p>
                            <p class="secondp">
                                3
                            </p>

                        </div>
                    </div>
                </div>


                <div class="mainContainerRest">




    


                </div>
            </div>
    </div>


    <script>
        showSettings = () =>{
            if(document.getElementById('settings').classList == 'hidden'){
                document.getElementById('settings').classList.remove('hidden');

                document.getElementById('settings').classList.add('settings');

            }
            else{
                document.getElementById('settings').classList.remove('settings');
                document.getElementById('settings').classList.add('hidden');

            }
            
        }
    </script>
    
<script>
    document.getElementById('1').classList.add('currentPage');

    $(document).ready(function(){
        var table = $('#table_id').DataTable({
            "order" : [[2,"asc"]],
            "scrollY":        "200px",
            "scrollCollapse": true,
            "paging":         false,
            "bInfo": false
        });
        
    })

</script>



</body>
</html>