<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('links'); -%>
    <link rel="stylesheet" href="/css/superagent/index.css">
</head>
<body>
    

    <%- include('header'); -%>

    <div class="fullContainer">
        <%- include('sidebar'); -%>
    </div>


    <script>
        showSettings = () =>{
            if(document.getElementById('settings').classList == 'hidden'){
                document.getElementById('settings').classList.remove('hidden');

                document.getElementById('settings').classList.add('settings');

            }
            else{
                document.getElementById('settings').classList.remove('settings');
                document.getElementById('settings').classList.add('hidden');

            }
            
        }
    </script>
    
<script>
    document.getElementById('1').classList.add('currentPage');

    $(document).ready(function(){
        var table = $('#table_id').DataTable({
            "order" : [[2,"asc"]],
            "scrollY":        "200px",
            "scrollCollapse": true,
            "paging":         false,
            "bInfo": false
        });
        
    });


</script>
<script>
    openSideBar = () =>{
        let width = document.getElementById('mainSideBar').style.width;
        if(width){
            document.getElementById('mainSideBar').style.width = '';
            document.getElementById('openSideBar').style.left = '5px';
            
        } 
        else{
            document.getElementById('mainSideBar').style.width = '90%';
            document.getElementById('openSideBar').style.left = '91%';
            

            
        } 
    }
</script>



</body>
</html>