<div class="mainSideBar" id='mainSideBar'>
    <div class="mainSideBarTitle">
        <h6>Menu</h6>
    </div>
    <div class="mainSideBarElements">
        <ul>
            <li id='1' onclick="window.location.href = './index' ">
                <i class="fa icon fa-balance-scale"></i>
                <p>

                    Balance
                </p>
            </li>

            <li id = '2' onclick="window.location.href = './transfer' ">
                <i class="fa icon fa-exchange"></i>
                <p>
                    Transfer
                </p>
            </li>

            <li id='3' onclick="window.location.href = './transactions' ">
                <i class="fa icon fa-money"></i>
                <p>
                    Transactions
                </p>
            </li>


            <li id="4"  onclick="window.location.href = './viewUsers' ">
                <i class="fa icon fa-users"></i>
                <p>
                    Players list
                </p>
            </li>
            <li id="5" onclick="window.location.href = './viewUsersBalances' ">
                <i class="fa icon fa-users"></i>
                <p>
                    Players balance
                </p>
            </li>



            <li id="6" onclick="window.location.href='./viewAgents'">
                <i class="fa icon fa-users"></i>
                <p>
                    Agents list
                </p>
            </li>

            <li id="7" onclick="window.location.href = './agentsBalance' ">
                <i class="fa icon fa-users"></i>
                <p>
                    Agents balance
                </p>
            </li>


            <li id="8" onclick="window.location.href = './revenueFromPlayers' ">
                <i class="fa icon fa-file"></i>
                <p>
                    Revenue from players
                </p>
            </li>


            <li id="9" onclick="window.location.href = './revenueFromAllPlayers' ">
                <i class="fa icon fa-file"></i>
                <p>
                    Revenue from players all
                </p>
            </li>


            <li id="10" onclick="window.location.href = './revenueFromAgents' ">
                <i class="fa icon fa-file"></i>
                <p>
                    Revenue from agents
                </p>
            </li>


            <li id="11" onclick="window.location.href = './revenueFromAllAgents' ">
                <i class="fa icon fa-file"></i>
                <p>
                    Revenue from agents all
                </p>
            </li>



            <li id="12" onclick="window.location.href = './addAgent' ">
                <i class="fa icon fa-user-plus"></i>
                <p>
                    Create agent
                </p>
            </li>


            <li onclick="window.location.href = './profile' ">
                <i class="fa icon fa-user-secret"></i>
                <p>
                    My profile
                </p>
            </li>


        </ul>
    </div>
    <button class="openSideBar" id='openSideBar' onclick="openSideBar()"><i class="fa fa-cog"></i></button>

</div>

