<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('links'); -%>

    <title>Document</title>
</head>
<body>    
    <%- include('header'); -%>
    <div class="fullContainer">
        <%- include('sidebar'); -%>
        <div class="mainContainer">
            <div class="mainContainerDiv">
                
            </div>
        </div>
    </div>



    <script>
        document.getElementById('sidebarBalance').classList.add('currentPage');
        showSettings = () =>{
            if(document.getElementById('settings').classList == 'hidden'){
                document.getElementById('settings').classList.remove('hidden');

                document.getElementById('settings').classList.add('settings');

            }
            else{
                document.getElementById('settings').classList.remove('settings');
                document.getElementById('settings').classList.add('hidden');
                
            }
            
        }
    </script>
<script>
    openSideBar = () =>{
        let width = document.getElementById('mainSideBar').style.width;
        if(width){
            document.getElementById('mainSideBar').style.width = '';
            document.getElementById('openSideBar').style.left = '5px';
            
        } 
        else{
            document.getElementById('mainSideBar').style.width = '90%';
            document.getElementById('openSideBar').style.left = '91%';
            

            
        } 
    }
</script>


</body>
</html>