    <div class="mainSideBar" id='mainSideBar'>
        <div class="mainSideBarTitle">
            <h6>Menu</h6>
        </div>
        <div class="mainSideBarElements">
            <ul>
                <li id='sidebarBalance' onclick="window.location.href = './index' ">
                    <i class="fa icon fa-balance-scale"></i>
                    <p>

                        Balance
                    </p>
                </li>

                <li id='sidebartransfer' onclick="window.location.href = './transfer' ">
                    <i class="fa icon fa-exchange"></i>
                    <p>
                        Transfer
                    </p>
                </li>

                <li id='sidebartransactions' onclick="window.location.href = './transactions' ">
                    <i class="fa icon fa-money"></i>
                    <p>
                        Transactions
                    </p>
                </li>


                <li id='sidebarvu' onclick="window.location.href = './viewUsers' ">
                    <i class="fa icon fa-users"></i>
                    <p>
                        Players list
                    </p>
                </li>

                <li id='sidebarpb' onclick="window.location.href = './viewBalances' ">
                    <i class="fa icon fa-users"></i>
                    <p>
                        Players balances
                    </p>
                </li>



                <li id='sidebarrfp' onclick="window.location.href = './revenueFromPlayers' ">
                    <i class="fa icon fa-file"></i>
                    <p>
                        Revenue from players
                    </p>
                </li>


                <li id='sidebarrfap' onclick="window.location.href = './revenueFromAllPlayers' ">
                    <i class="fa icon fa-file"></i>
                    <p>
                        Revenue from players all
                    </p>
                </li>



                <li  id='sidebarPlayer' onclick="window.location.href = './addPlayer' ">
                    <i class="fa icon fa-user-plus"></i>
                    <p>
                        Create Player
                    </p>
                </li>

                <li id='sidebarprofile' onclick="window.location.href = './profile' ">
                    <i class="fa icon fa-user-secret"></i>
                    <p>
                        My profile
                    </p>
                </li>


            </ul>
        </div>
        <button class="openSideBar" id='openSideBar' onclick="openSideBar()"><i class="fa fa-cog"></i></button>

    </div>
 