   
.mainContainer{
    display: flex;
    justify-content: center;
    position: relative;
}
.mainContainerDiv{
    position: absolute;
    top: 10px;
    width: 97%;
    height: 85%;
    background-color: white;
    border-top: 3px solid #d2d6de;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);  
    padding-top: 15px;
    padding-left: 10px; 
}